-e git+https://github.com/tecracer/cdk-templates@b9476ac7ff6d081e137870633965146b2ebb4c22#egg=alb_asg&subdirectory=python/alb-asg
attrs==20.3.0
aws-cdk-lib==2.0.0rc8
aws-sam-translator==1.35.0
awsume==4.5.0
backports.shutil-get-terminal-size==1.0.0
boto3==1.17.56
botocore==1.20.56
cattrs==1.5.0
certifi==2020.12.5
cffi==1.14.5
cfn-lint==0.49.0
chardet==4.0.0
colorama==0.4.4
constructs==10.0.5
cryptography==3.4.7
dataclasses-jsonschema==2.14.1
decorator==4.4.2
diagrams==0.19.1
docker==4.4.4
dulwich==0.20.21
ec2instanceconnectcli==1.0.2
gpg==1.15.0
graphviz==0.16
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.10.0
jsii==1.30.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
junit-xml==1.9
MarkupSafe==1.1.1
mock==2.0.0
networkx==2.5.1
packaging==20.9
pbr==5.6.0
pluggy==0.13.1
psutil==5.8.0
publication==0.0.3
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.1
PyYAML==5.4.1
reprint==0.6.0
requests==2.25.1
s3transfer==0.4.2
six==1.15.0
tabulate==0.8.9
taskcat==0.9.23
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
websocket-client==0.58.0
yattag==1.14.0
